.chat-message-container {
  display: flex;
  padding: 10px 0px;
  height: auto;
  max-width: 60%;
  align-items: center;
}
.message-container {
  background-color: hsl(0, 0%, 93%);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.chat-message-container img {
  width: 35px;
  height: 35px;
}
.chat-message-container.user-container {
  align-self: flex-end;
}
.chat-message-container.bot-container {
  align-self: flex-start;
}
.chat-message-container.user-container img {
  margin-left: 10px;
}
.chat-message-container.bot-container img {
  margin-right: 10px;
}
.time {
  font-size: 8px;
  color: gray;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .chat-message-container {
    max-width: 60%;
  }
  .chat-message-container img {
    width: 50px;
    height: 50px;
  }
  .time {
    font-size: 12px;
  }
  .message-container {
    font-size: 16px;
  }
}