.chat-message-container {
  display: flex;
  padding: 10px 0px;
  height: auto;
  max-width: 70%;
  align-items: center;
}
.message-container {
  background-color: hsl(0, 0%, 93%);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.chat-message-container img {
  width: 50px;
  height: 50px;
}
.chat-message-container.user-container {
  align-self: flex-end;
}
.chat-message-container.bot-container {
  align-self: flex-start;
}
.chat-message-container.user-container img {
  margin-left: 10px;
}
.chat-message-container.bot-container img {
  margin-right: 10px;
}
.time {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}