.chat-input-container {
  display: flex;
  width: 100%;
  position: sticky;
  top: 8px;
}
.chat-input-container button {
  background-color: hsl(152, 69%, 31%);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 10px;
}
.chat-input-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 10px;
}
.chat-input-container button:hover {
  background-color: hsl(153, 75%, 34%);
  transition: 0.2s;
}
.chat-input-container input:focus {
  outline: none;
  border-color: hsl(152, 69%, 31%);
  transition: 0.2s;
}