.chat-input-container {
  display: flex;
  width: 100%;
  height: fit-content;
  grid-area: chat-input;
  margin-bottom: 8px;
}
.chat-input-container button {
  background-color: hsl(152, 69%, 31%);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 10px;
}
.chat-input-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 10px;
}
.chat-input-container button:hover {
  background-color: hsl(153, 75%, 34%);
  transition: 0.2s;
}
.chat-input-container button:focus {
  outline: hsl(0, 0%, 0%) solid 2px;
}
.chat-input-container input:focus {
  outline: hsl(152, 69%, 31%) solid 2px;
}
@media (min-width: 768px) {
  .chat-input-container {
    position: sticky;
    top: 8px;
    margin-bottom: 0;
  }
  .chat-input-container button {
    font-size: 16px;
  }
  .chat-input-container input {
    font-size: 16px;
  }
}
